body {
    background-color: aliceblue;
    font-family: "Roboto", sans-serif;
}

.weather-app {
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
    border-bottom: 1px solid aliceblue;
    padding: 0 0 30px 0;
}

.search-input {
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    width: 80%;
    font-size: 16px;
    padding: 10px 20px;
}

.search-button {
    background-color: midnightblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-left: 5px;
    padding: 10px 20px;
}

main {
    padding: 30px 0;
}

.weather-data {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 38px;
}

.weather-details {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color:rgb(65, 65, 65);
}

.weather-details strong {
    color: #bd0f0f
}

.weather-temperature-container {
    display: flex;
}

.weather-icon {
    width: 88px;
    height: 88px;
}

.weather-temperature {
    font-size: 88px;
    font-weight: bold;
    line-height: 88px;
}

.weather-unit {
    font-size: 28px;
    margin-top: 6px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.weather-forecast-day {
    text-align: center;
    color: rgb(65, 65, 65);
    font-size: 16px;
    margin-bottom: 10px;
}

.weather-forecast-icon {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}

.weather-forecast-temperatures {
    display: flex;
    justify-content: center;
    color: #bd0f0f;
    margin-top: 10px;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

footer {
    border-top: 1px solid aliceblue;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color:rgb(65, 65, 65);
}

a {
    color: midnightblue;
}